<sly data-sly-use.searchbar="${'com.adobe.cq.commerce.core.components.models.searchbar.Searchbar'}" />
<div class="searchBar__root" role="search">
    <div class="searchBar__searchInner">
        <form class="searchBar__form" autocomplete="off" _lpchecked="1" action="${searchbar.searchResultsPageUrl}">
            <div class="cmp-form-text" data-cmp-required-message="This field is required">
                <span class="icon__root"><svg
                    xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"><circle
                    cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            	</span>
                <input class="searchBar__input" name="search_query" value="" role="searchbox">
                <button type="submit" class="searchBar__button">Search</button>
            </div>
            <div></div>
        </form>
    </div>
</div>